<div class='container'>
  <div class='hero-unit'>
    <h1>
      Make your site mobile friendly today!
    </h1>
    <br />
    <p>

      <input class='input-large search-query' id='url_input' type='text' placeholder='Enter your site url here' data-provide='typeahead' data-items='32' data-source='["http://www.tresamigos.com", "http://www.havanamania.com", "http://www.restaurant-lebrouillarta.com", "http://www.serdas.com", "http://www.killermargaritas.com", "http://www.soffritto.com", "http://www.tazzacaffe.com", "http://www.ricenspicethai.com", "http://www.whatthepho.net", "http://www.phohoa.com", "http://www.anitascrepes.com", "http://www.lacreperievoila.com", "http://www.chengduchineserestaurant.com", "http://www.littleotterswim.com", "http://www.fosterharris.com", "http://www.aquaplasticsurgery.com", "http://www.hearstnonprofit.com/english/indexen.html", "http://www.lamppostpublishing.com", "http://www.cissecurity.ca", "http://www.425motorsports.com", "http://www.toptiercomputerservices.com", "http://www.tradingpub.com", "http://wilkinsmiller.com", "http://www.atisw.com", "http://www.justorthodontics.com", "http://www.lillypadvillage.com", "http://www.nickusborne.com", "http://www.ladeedogs.com", "http://www.jjsproperty.com", "http://www.gjawning.com", "http://www.uptempomagazine.com", "http://www.ecommonwealthbank.com"]'> </input>
    </p>

    <p>
    <a id='action' class='btn btn-primary btn-large'>Mobilify your desktop site!</a>
    </p>


    <ul class="thumbnails">
      <li class="span6">
        <a href="#" class="thumbnail">
          <img id='websitethumbnail' src="app/assets/images/havanamania.jpg" alt=""></img>
                    </a>
      </li>
    </ul>
    
  </div>

  <div class='hidden'>
    <div class='desktop'>
      <div class='screen'></div>
    </div>
  </div>

</div>
