<div class='hero-unit'>
  <h1>
    Make your site mobile friendly today!
  </h1>

  <div class="input-append">
    <input class='input-large ' id='url_input' type='text' placeholder='http://www.serdas.com' data-provide='typeahead' data-items='32' data-source='["http://www.tresamigos.com", "http://www.havanamania.com", "http://www.restaurant-lebrouillarta.com", "http://www.serdas.com", "http://www.killermargaritas.com", "http://www.soffritto.com", "http://www.tazzacaffe.com", "http://www.ricenspicethai.com", "http://www.whatthepho.net", "http://www.phohoa.com", "http://www.anitascrepes.com", "http://www.lacreperievoila.com", "http://www.chengduchineserestaurant.com", "http://www.littleotterswim.com", "http://www.fosterharris.com", "http://www.aquaplasticsurgery.com", "http://www.hearstnonprofit.com/english/indexen.html", "http://www.lamppostpublishing.com", "http://www.cissecurity.ca", "http://www.425motorsports.com", "http://www.toptiercomputerservices.com", "http://www.tradingpub.com", "http://wilkinsmiller.com", "http://www.atisw.com", "http://www.justorthodontics.com", "http://www.lillypadvillage.com", "http://www.nickusborne.com", "http://www.ladeedogs.com", "http://www.jjsproperty.com", "http://www.gjawning.com", "http://www.uptempomagazine.com", "http://www.ecommonwealthbank.com"]'> </input>

    <!--<p>-->
    <a id='action' class='btn btn-primary'>Mobilify!</a>
    <!--</p>-->
  </div>

</div>

<div class='container'>

  <div id ='screen_view' class="row" >

    <div class="span8">
      <!--<h3>Your website:</h3>-->
    <!--  <img id='websitethumbnail' src="assets/serdas.jpg" alt=""></img>-->
      <div class='desktop'>
        <div class='desktopscreen'>
          <iframe id ='desktop_iframe' class='preview' src='http://www.serdas.com'></iframe>
        </div>
      </div>
    </div>

    <div class="span4">
     <!-- <h3>Phone</h3>-->
 
      <div class='mobilefront'>
        <div class='screenfront'>
          <iframe id='mobile_iframe' class='preview' src='http://www.serdas.com'></iframe>
        </div>
      </div>
    </div>

  </div>

</div>

<div class='hidden'>
  <div class='desktop'>
    <div class='screen'></div>
  </div>
</div>
