<% content_for :logo_img do %>
  <%= raw @site.logo_img %>
<% end %>

<!--
<%# content_for :nav_menu do %>
  <ul id='nav' data-role='listview' data-inset='true'>
    <%# for i in 0..3 %>
        <li>
          <%#= link_to @site.nav_menu[i], '#' %> 
        </li>
    <%# end %>
  </ul>
<%# end %>
-->

<%= raw @site.content %>

