$iphone_img_url: 'iphone5_320px.png';
$chrome_img_url: 'chrome_screenshot.PNG';
$background_img_url: 'blur.jpg';

.hero-unit
{
	background-color: rgba(164, 215, 231, 0.31);
}

#navContainer
{
    position: fixed;
    right: 0;
    left: 0;
    height: 50px;
    background-color: Black;
}
        
.container
{
    width: 1170px;
    color: White;
}
        
nav a, nav a:hover
{
    text-decoration: none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    display: block;
    color: White;
}
        
#mbilifyLogo
{
    float: left;
    font-size: 24px;
    padding-top: 13px;
    padding-right: 13px;
    padding-bottom: 13px;
}
        
#home
{
    float: right;
    font-size: 16px;
    padding: 17px;
}

#background
{
    height: 500px;
    background-image: url($background_img_url);
    background-repeat: no-repeat;
}

.mobile {
  width: 406px;
  height: 951px;
  background-image: url($iphone_img_url);
  background-size: 100%;
  margin-left:auto;
  margin-right:auto;
  position:relative;

  .screen {
    position:absolute;
    top:125px;
    left:35px;
    height:595px;
    width:337px;
    border:none;
  }
}

.mobilefront {
  width: 272.2px;
  height: 637px;
  background-image: url($iphone_img_url);
  background-size: 100%;
  margin-left:auto;
  margin-right:auto;
  position:relative;

  .screenfront {
    position:absolute;
    top:125px;
    left:35px;
    height:595px;
    width:337px;
    border:none;
  }
}


iframe.preview {
  width:100%;
  height:100%;
  border:0;
  overflow:hidden;
}


.desktop {
  width: 768px;
  height: 393px;
  background-image: url($chrome_img_url);
  background-size: 100% 100%;
  margin-left:auto;
  margin-right:auto;
  position:relative;

  .desktopscreen {
    position:absolute;
    top:20px;
    left:0px;
    height:373px;
    width:768px;
    border:none;
	overflow:hidden;
  }
}